<div class="left_col scroll-view">
  <div class="navbar nav_title" style="border: 0;">
    <a href="/" class="site_title"> <span>视频行为分析系统&nbsp;v3.41</span></a>
  </div>

  <div class="clearfix"></div>

  <!-- menu profile quick info -->
  <div class="profile clearfix">
    <div class="profile_pic">
      <img src="/static/images/user.png" alt="..." class="img-circle profile_img">
    </div>
    <div class="profile_info">
      <span>Welcome,</span>
      <h2>admin</h2>
    </div>
  </div>
  <!-- /menu profile quick info -->

  <br />

  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      <h3>菜单</h3>
      <ul class="nav side-menu">

          <li ><a><i class="fa fa-home"></i> 主页 <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu">
                <li><a href="/">控制面板</a></li>
                <li><a href="/profile">个人信息</a></li>
          </ul>
        </li>
           <li><a><i class="fa fa-video-camera"></i> 视频管理 <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu">
                  <li><a href="/stream/online">在线视频流</a></li>
                  <li><a href="/stream/index">摄像头管理</a></li>
                 <li><a href="/stream/add">添加摄像头</a></li>
                 <li><a href="/stream/edit">编辑摄像头</a></li>
                <li><a href="/stream/gb28181">国标gb28181接入</a></li>
                 <li><a href="/stream/player">播放器</a></li>
              </ul>
           </li>

        <li><a><i class="fa fa-dashboard"></i> 报警视频管理 <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu">
                <li><a href="/alarms">报警视频管理</a></li>

              </ul>
           </li>

        <li ><a><i class="fa fa-book"></i> 算法管理 <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu">
                <li><a href="/algorithms">算法管理</a></li>
          </ul>
        </li>

                  <li ><a><i class="fa fa-calculator"></i> 布控管理 <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu">
                <li><a href="/controls">布控管理</a></li>
                <li><a href="/control/add">添加布控</a></li>
                <li><a href="/control/edit">编辑布控</a></li>
          </ul>
        </li>

      </ul>
    </div>

  </div>
  <!-- /sidebar menu -->

  <!-- /menu footer buttons -->

  <!-- /menu footer buttons -->
</div>
